---
layout: default
---
<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h5>About</h5>
  Hello! I am Ph.D. candidate in Epidemiologic Science at the <a href="https://sph.umich.edu/">University of Michigan</a>, advised by <a href="https://sph.umich.edu/faculty-profiles/karvonengutierrez-carrie.html">Carrie Karvonen-Gutierrez</a>. I am supported by a <a href="https://eng.kfas.or.kr/theme/kfaschanel/intl_scholarship_5.php">KFAS PhD Fellowship</a> for up to 5 years of my PhD program.
  I obtained my B.A. in Public Health (Health Policy and Management) and M.S. in Public Health Sciences (Concentration: Epidemiology and Risk Management) from Korea University, where I was fortunate to be advised by <a href="https://hannahohlab.weebly.com/members.html">Hannah Oh</a>.
</div>

<!-- ========== News ========== -->
<div class="docs-section" id="news">
  <h5>News</h5>
  <div class="news-item">
   <b class="bbold" style="color:#fa8072;">Mar 2026</b>&nbsp;&nbsp;&nbsp;&nbsp;
   Excited to announce that I have received <a href="https://www.bcbsm.com/foundation/grants/student-award-program/">Student Award from the BCBSM Foundation</a> to fund my research initiatives!"  
  </div>
  <div class="news-item">
   <b class="bbold" style="color:#fa8072;">Jul 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
   Glad to share that I'm starting my PhD journey at the University of Michigan in Fall 2024!
  </div>  
  <div class="news-item">
   <b class="bbold" style="color:#fa8072;">Apr 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
   I am honored to be awarded the Korea Foundation for Advanced Studies (KFAS) Fellowship, providing full support for my PhD research over the next five years.
  </div>
  <div class="news-item">
    <b class="bbold" style="color:#fa8072;">Oct 2023</b>&nbsp;&nbsp;&nbsp;&nbsp;
    Delighted to share that I've been selected for a speaker of oral presentation session at the annual conference of the Korean Nutrition Society!
  </div>
  <div class="news-item">
    <b class="bbold" style="color:#fa8072;">Jun 2023</b>&nbsp;&nbsp;&nbsp;&nbsp;
    Our <a href="https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-023-15969-1">paper</a> has been published in BMC Public Health.
  </div>
  <div class="news-item">
    <b class="bbold" style="color:#fa8072;">Apr 2023</b>&nbsp;&nbsp;&nbsp;&nbsp;
    Two abstracts were selected for poster presentation at <a href="https://nutrition.org/n23/">NUTRITION 2023</a>.
  </div>
  <div class="news-item">
    <b class="bbold" style="color:#fa8072;">Feb 2023</b>&nbsp;&nbsp;&nbsp;&nbsp;
    I was selected as a graduate student awardee for <a href="https://www.asanfoundation.or.kr/af/eng/main.do">ASAN</a> Public Health Policy Fellowship.
  </div>
</div>


<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h5>Education</h5>
        <div class="paper">
        <p class="title"><b>University of Michigan<b style="float:right;">Aug. 2024 - Present </b></b></p>
        <p>Ph.D. in Epidemiologic Sciences | Advisor: <a href="https://sph.umich.edu/faculty-profiles/karvonengutierrez-carrie.html">Carrie Karvonen-Gutierrez</a> </p>
        <p></p>
        </div>

        <div class="paper">
          <p class="title"><b>Korea University<b style="float:right;">Mar. 2021 - Feb. 2024</b></b></p>
          <p>M.S. in Epidemiology | Advisor: <a href="https://hannahohlab.weebly.com/members.html">Hannah Oh</a> </p>
          <p></p>
        </div>

        <div class="paper">
          <p class="title"><b>Korea University<b style="float:right;">Mar. 2017 - Feb. 2021</b></b></p>

          <p>B.A. in Public Health (Health Policy & Management)
          <p></p>
        </div>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h5>Publications</h5>
  {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
  {% for paper in selected_papers %}
    <div class="paper-compact">
      {% if paper.year %}
        <p class="year-header"><b>{{ paper.year }}</b></p>
      {% endif %}
      <div class="paper-row{% if paper.wide_venue == 'y' %} wide-venue{% endif %}" onclick="togglePaper(this)">
        <span class="paper-toggle">&#9654;</span>
        <span class="paper-title-compact">{{ paper.title }}</span>
        <span class="paper-venue-compact">{{ paper.venue }}</span>
      </div>
      <div class="paper-details">
        <p class="paper-authors">{{ paper.authors }}</p>
        <div class="paper-buttons">
          {% if paper.paper_pdf %}
            <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
          {% endif %}
          {% if paper.poster %}
            <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
          {% endif %}
          {% if paper.code %}
            <a class="button code-btn" href="{{ paper.code }}" target="_blank" data-repo="{{ paper.code }}">Code</a>
          {% endif %}
          {% if paper.video %}
            <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
          {% endif %}
          {% if paper.slides %}
            <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
          {% endif %}
          {% if paper.twitter %}
            <a class="button" href="{{ paper.twitter }}" target="_blank">Twitter</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  <h6><b><i>( * indicates equal contribution )</i></b></h6>
</div>

<!-- ========== ORAL PRESENTATIONS ========== -->
<div class="docs-section" id="oral-presentations">
  <h5>Oral Presentations</h5>
  {% assign selected_orals = site.data.publications.oral_presentations | where: "selected", "y" %}
  {% for paper in selected_orals %}
    <div class="paper-compact">
      {% if paper.year %}
        <p class="year-header"><b>{{ paper.year }}</b></p>
      {% endif %}
      <div class="paper-row{% if paper.wide_venue == 'y' %} wide-venue{% endif %}" onclick="togglePaper(this)">
        <span class="paper-toggle">&#9654;</span>
        <span class="paper-title-compact">{{ paper.title }}</span>
        <span class="paper-venue-compact">{{ paper.venue }}</span>
      </div>
      <div class="paper-details">
        <p class="paper-authors">{{ paper.authors }}</p>
        <div class="paper-buttons">
          {% if paper.paper_pdf %}
            <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<!-- ========== POSTER PRESENTATIONS ========== -->
<div class="docs-section" id="poster-presentations">
  <h5>Poster Presentations</h5>
  {% assign selected_posters = site.data.publications.poster_presentations | where: "selected", "y" %}
  {% for paper in selected_posters %}
    <div class="paper-compact">
      {% if paper.year %}
        <p class="year-header"><b>{{ paper.year }}</b></p>
      {% endif %}
      <div class="paper-row{% if paper.wide_venue == 'y' %} wide-venue{% endif %}" onclick="togglePaper(this)">
        <span class="paper-toggle">&#9654;</span>
        <span class="paper-title-compact">{{ paper.title }}</span>
        <span class="paper-venue-compact">{{ paper.venue }}</span>
      </div>
      <div class="paper-details">
        <p class="paper-authors">{{ paper.authors }}</p>
        <div class="paper-buttons">
          {% if paper.paper_pdf %}
            <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitae</h4>

  <p>Full CV in <a href={{ "/assets/cv/CV.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

  <!-- The Timeline -->
  <div class="timeline-simple">
    {% for exp in site.data.experience.experiences %}
    <div class="timeline-item {% if exp.category == 'work' %}work{% else %}school{% endif %}">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <div class="timeline-header">
          <span class="timeline-place">{{ exp.place }}</span>
          <span class="timeline-time">{{ exp.time }}</span>
        </div>
        <div class="timeline-title">{{ exp.title }}</div>
        {% if exp.subtitle %}<div class="timeline-subtitle">{{ exp.subtitle }}</div>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

</div>
